# Machine Learning Assignment 2

Daniel Devlin | 19202103 | daniel.devlin1@ucdconnect.ie

#### Imports

In [28]:
import pandas as pd
import numpy as np

#### Load Student_ID Dataset

In [18]:
census_dataset = 'census_19202103.csv'
df_census = pd.read_csv(census_dataset)
df_census

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,Income-category
0,49,Private,151107,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,40,United-States,<=50K
1,49,Private,248895,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,45,United-States,<=50K
2,60,Private,227266,HS-grad,9,Divorced,Sales,Not-in-family,White,Female,0,0,33,United-States,<=50K
3,62,Self-emp-not-inc,192236,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,40,United-States,>50K
4,23,Private,386019,9th,5,Never-married,Farming-fishing,Unmarried,White,Male,0,0,70,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,40,Private,256202,Assoc-voc,11,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
9996,34,Private,100669,Bachelors,13,Married-civ-spouse,Transport-moving,Husband,Asian-Pac-Islander,Male,0,0,40,United-States,>50K
9997,74,Federal-gov,39890,Some-college,10,Widowed,Transport-moving,Not-in-family,White,Female,0,0,18,United-States,<=50K
9998,32,Private,193042,Prof-school,15,Married-civ-spouse,Sales,Husband,White,Male,15024,0,60,United-States,>50K
9999,31,Private,91964,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Male,0,0,40,United-States,<=50K

## [_] Question 1

### (a) Clean and Prepare Dataset for ML Analysis

#### Checking for Issues in the Dataframe

In [19]:
# Check for Missing Values
missing = df_census.isnull().sum(axis=1)
rows_with_missing_values = (missing > 0).sum()
print("Total of: %d rows with missing values" % (rows_with_missing_values))
print("\nTotal of: %d missing values in the dataset" % (missing.sum()))

Total of: 0 rows with missing values

Total of: 0 missing values in the dataset

In [20]:
# Checking For Duplicates
df_census[df_census.duplicated()]

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,Income-category
8947,20,Private,107658,Some-college,10,Never-married,Tech-support,Not-in-family,White,Female,0,0,10,United-States,<=50K

In [21]:
# Checking Column Titles for Whitespace
df_census.columns

Index(['age', ' workclass', ' fnlwgt', ' education', ' education-num',
       ' marital-status', ' occupation', ' relationship', ' race', ' sex',
       ' capital-gain', ' capital-loss', ' hours-per-week', ' native-country',
       ' Income-category'],
      dtype='object')

In [22]:
df_census.dtypes

age                  int64
 workclass          object
 fnlwgt              int64
 education          object
 education-num       int64
 marital-status     object
 occupation         object
 relationship       object
 race               object
 sex                object
 capital-gain        int64
 capital-loss        int64
 hours-per-week      int64
 native-country     object
 Income-category    object
dtype: object

In [23]:
df_census[' occupation'].unique()

array([' Craft-repair', ' Machine-op-inspct', ' Sales', ' Prof-specialty',
       ' Farming-fishing', ' Handlers-cleaners', ' ?', ' Exec-managerial',
       ' Protective-serv', ' Adm-clerical', ' Tech-support',
       ' Other-service', ' Transport-moving', ' Priv-house-serv',
       ' Armed-Forces'], dtype=object)

#### Fixing First Found Issues

In [24]:
#Removing Duplicates
df_census = df_census.drop_duplicates()
len(df_census)

9999

In [25]:
#Removing Column Whitespaces
df_census.columns = df_census.columns.str.lstrip() #Removing first whitespace
df_census.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'Income-category'],
      dtype='object')

#### Further Issues

In [39]:
# Change income-category to 0 or 1
df_census['Income-category'].unique()

array(['<=50K', '>50K'], dtype=object)

In [40]:
col_vals = {'<=50K': 0, '>50K': 1}
df_census['Income-category'] = df_census['Income-category'].map(col_vals)
df_census

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,Income-category
0,49,Private,151107,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,40,United-States,0
1,49,Private,248895,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,45,United-States,0
2,60,Private,227266,HS-grad,9,Divorced,Sales,Not-in-family,White,Female,0,0,33,United-States,0
3,62,Self-emp-not-inc,192236,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,40,United-States,1
4,23,Private,386019,9th,5,Never-married,Farming-fishing,Unmarried,White,Male,0,0,70,United-States,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,40,Private,256202,Assoc-voc,11,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
9996,34,Private,100669,Bachelors,13,Married-civ-spouse,Transport-moving,Husband,Asian-Pac-Islander,Male,0,0,40,United-States,1
9997,74,Federal-gov,39890,Some-college,10,Widowed,Transport-moving,Not-in-family,White,Female,0,0,18,United-States,0
9998,32,Private,193042,Prof-school,15,Married-civ-spouse,Sales,Husband,White,Male,15024,0,60,United-States,1
9999,31,Private,91964,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Male,0,0,40,United-States,0

In [41]:
#Remove Whitespace from object columns
df_census = df_census.applymap(lambda x: x.strip() if isinstance(x, str) else x)
df_census

/tmp/ipykernel_4347/3218866406.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_census = df_census.applymap(lambda x: x.strip() if isinstance(x, str) else x)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,Income-category
0,49,Private,151107,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,40,United-States,0
1,49,Private,248895,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,45,United-States,0
2,60,Private,227266,HS-grad,9,Divorced,Sales,Not-in-family,White,Female,0,0,33,United-States,0
3,62,Self-emp-not-inc,192236,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,40,United-States,1
4,23,Private,386019,9th,5,Never-married,Farming-fishing,Unmarried,White,Male,0,0,70,United-States,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,40,Private,256202,Assoc-voc,11,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
9996,34,Private,100669,Bachelors,13,Married-civ-spouse,Transport-moving,Husband,Asian-Pac-Islander,Male,0,0,40,United-States,1
9997,74,Federal-gov,39890,Some-college,10,Widowed,Transport-moving,Not-in-family,White,Female,0,0,18,United-States,0
9998,32,Private,193042,Prof-school,15,Married-civ-spouse,Sales,Husband,White,Male,15024,0,60,United-States,1
9999,31,Private,91964,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Male,0,0,40,United-States,0

In [42]:
# Replace Question Marks with NaN values
df_census = df_census.replace('?', np.nan)
df_census['occupation'].unique()

array(['Craft-repair', 'Machine-op-inspct', 'Sales', 'Prof-specialty',
       'Farming-fishing', 'Handlers-cleaners', nan, 'Exec-managerial',
       'Protective-serv', 'Adm-clerical', 'Tech-support', 'Other-service',
       'Transport-moving', 'Priv-house-serv', 'Armed-Forces'],
      dtype=object)

In [43]:
# Remove rows with Missing Values(NaN)
nan_rows = df_census.isna().any(axis=1)
nan_rows = nan_rows.sum()
print(nan_rows)

721

In [44]:
# Create dataframe with no missing values
df_census_NONAN = df_census.dropna()
df_census_NONAN

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,Income-category
0,49,Private,151107,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,40,United-States,0
1,49,Private,248895,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,45,United-States,0
2,60,Private,227266,HS-grad,9,Divorced,Sales,Not-in-family,White,Female,0,0,33,United-States,0
3,62,Self-emp-not-inc,192236,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,40,United-States,1
4,23,Private,386019,9th,5,Never-married,Farming-fishing,Unmarried,White,Male,0,0,70,United-States,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,40,Private,256202,Assoc-voc,11,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
9996,34,Private,100669,Bachelors,13,Married-civ-spouse,Transport-moving,Husband,Asian-Pac-Islander,Male,0,0,40,United-States,1
9997,74,Federal-gov,39890,Some-college,10,Widowed,Transport-moving,Not-in-family,White,Female,0,0,18,United-States,0
9998,32,Private,193042,Prof-school,15,Married-civ-spouse,Sales,Husband,White,Male,15024,0,60,United-States,1
9999,31,Private,91964,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Male,0,0,40,United-States,0

#### (a) Discussion: Why did I use these evaluation measures and what was cleaned in the dataframe? 

Text

### (b) Evaluate Performance of 3 Basic Classifiers

#### Decision Tree with Depth at Most 3

#### Neural Network with at Most 10 Nodes

#### 1-NN

#### (b) Discussion of Classifiers

Text

### (c)

### (d)

### (e)

## Question 2

### (a)

### (b)

### (c)

### (d)