# Machine Learning Assignment 2

Daniel Devlin | 19202103 | daniel.devlin1@ucdconnect.ie

### Imports

In [3]:
import pandas as pd

### Load Student_ID Dataset

In [6]:
census_dataset = 'census_19202103.csv'
df_census = pd.read_csv(census_dataset)
df_census.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,Income-category
0,49,Private,151107,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,40,United-States,<=50K
1,49,Private,248895,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,45,United-States,<=50K
2,60,Private,227266,HS-grad,9,Divorced,Sales,Not-in-family,White,Female,0,0,33,United-States,<=50K
3,62,Self-emp-not-inc,192236,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,40,United-States,>50K
4,23,Private,386019,9th,5,Never-married,Farming-fishing,Unmarried,White,Male,0,0,70,United-States,<=50K

### Blank